*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

#weather-section{
  background-color: #1E213A;
  height: 100vh;
  width: 25%;
  
}

main{
  background: #100E1D;
  display: flex;

}

.btn-principal{
  background: #6E707A;
  color: #E7E7EB;
  
}

.geolocation{
  width: 40px;
  border-radius: 50%;
  border: none;
  height: 40px;
  
}

.btn-search{
  height: 40px;
  width: 161px;
}

.btns-weather{
  display: flex;
  justify-content: space-between;
  margin: 42px 46px 0 46px;
  
}

.img-cloudBg{
  opacity: 0.1;
  overflow: hidden; 
  margin-left: -40%;
  
  
}

.img-weather{
  position: absolute;
  z-index: 1;
  left: 18%;
  top: 20%;
}

.img-container{
  position: relative;
}

.img-cloudBg .img-weather{
  width: 100%;
  height: auto;
}

